<%= form_for @question do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="quick_question_field">
		<%= f.text_area :content, placeholder: "Ask a question..." %>
	</div>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>