<% provide(:title, "Home") %>

<div class="jumbotron">
		
		<h1>Welcome to Clanswers!</h1>
		<p>
			This is a site dedicated to understanding. Recieve answers for your questions and give answers to your friends. We hope you find the answers you are looking for!
		</p>
		<%= link_to "Get started!", "#", class: "btn btn-primary btn-lg btn-block" %>
</div>