<div class="profile_question_feed">
	<span class="feed_content"><%= quick_question.content %></span>
	<br>
	<span class="timestamp">
		Posted <%= time_ago_in_words(quick_question.created_at) %> ago.
	</span>
</div>