<div class="profile_question_feed">
	<div class="expanded_link">
	  <% if thoughtful_question.content.length > 140 %>
	    <%= link_to_function truncate(wrap(thoughtful_question.content), length: 140, omission: "... (click to expand)"), "$(this).parent().html('#{escape_javascript thoughtful_question.content}')", class: "expanded_link" %>
	  <% else %>
	  	<%= wrap(thoughtful_question.content) %>
	  <% end %>
	</div>
	<span class="timestamp">
		Posted <%= time_ago_in_words( thoughtful_question.created_at) %> ago.
	</span>
	<% if current_user?(thoughtful_question.user) %>
		<%= link_to "delete", thoughtful_question, method: :delete, data: { confirm: "Confirm to delete question."}, title: thoughtful_question.content%>
	<% end %>	
</div>