<div class="profile_question_feed">
	<span class="feed_content"><%= truncate(wrap(interest_question.content), length: 140, separator: ' ') { link_to " Expand", '#'} %></span>
	<br>
	<span class="timestamp">
		Posted <%= time_ago_in_words(interest_question.created_at) %> ago.
	</span>
	<% if current_user?(interest_question.user) %>
		<%= link_to "delete", interest_question, method: :delete, data: { confirm: "Confirm to delete question."}, title: interest_question.content%>
	<% end %>
</div>