<div class="profile_question_feed">
	<div class="expanded_link">
	  <% if interest_question.content.length > 140 %>
	    <% content = wrap(interest_question.content) %>
	    <%= link_to_function truncate(content, length: 140, omission: "... (click to expand)"), "$(this).parent().html('#{escape_javascript interest_question.content}')", class: "expanded_link" %>
	  <% else %>
	  	<%= wrap(interest_question.content) %>
	  <% end %>
	</div>
	<span class="timestamp">
		Posted <%= time_ago_in_words(interest_question.created_at) %> ago.
	</span>
	<% if current_user?(interest_question.user) %>
		<%= link_to "delete", interest_question, method: :delete, data: { confirm: "Confirm to delete question."}, title: interest_question.content%>
	<% end %>
</div>