<%= form_for @interest_question do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="interest_question_field">
		<%= f.text_area :content, placeholder: "Ask an interest question..." %>
	</div>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>