<% provide(:title, "Edit profile") %>

<h1><b>Update your profile</b></h1>

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<%= render 'shared/error_messages' %>
		</div>
	</div>

	<%= render 'users/form_user_update' %>
	
</div>
