<div class="profile_question_feed row">
	<div class="expanded_link">
	  <% if interest_answer.content.length > 140 %>
	    <%= link_to_function truncate(wrap(interest_answer.content), length: 140, omission: "... (click to expand)"), "$(this).parent().html('#{escape_javascript interest_answer.content}')", class: "expanded_link" %>
	  <% else %>
	  	<%= wrap(interest_answer.content) %>
	  <% end %>
	</div>
	<span class="timestamp">
		Posted <%= time_ago_in_words(interest_answer.created_at) %> ago.
	</span>
	<% if current_user?(interest_answer.user) %>
		<%= link_to "delete", interest_answer, method: :delete, data: { confirm: "Confirm to delete question."}, title: interest_answer.content%>
	<% end %>
</div>