@import "bootstrap";

$grayMediumLight: #eaeaea;
$earthy: #A19251;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* global */

html {
	overflow-y:	scroll;
}

/* navbar */

#logo {
	color: $earthy;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
	margin-right: 20px;
}

.nav_links {
	margin-top: 1px;
	font-size: 1.25em;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: bold;
}

h1 {
	text-align: center;
	font-size: 3em;
	letter-spacing: -1px;
	margin-bottom: 15px;
}

p {
	font-size: 1.1em;
	line-height: 1.5em;
}

/* footer */
footer {
	margin-top: 15px;
	border-top: 1px solid $grayMediumLight;
	a {
	color: grey;
	float: left;
	}
	li a{
		color: $earthy;
	}
	ul {
  		float: right;
  		list-style: none;
  		li {
		  float: left;
		  margin-left: 10px;
		}
	}
}
	
/* sidebar */

#gravatar {
	float: left;
	margin-left: 7.5px;
	margin-right: 7.5px;
	border-style: solid;
	border-width: 3px;
}

aside {
	section {
		h1 {
			font-size: 2em;
			text-align: left;
			margin-top: 4px;
			margin-bottom: 4px;
			letter-spacing: .5px;
		}
		h2 {
			font-size: 1em;
			text-align: left;
			margin-top: 4px;
			margin-bottom: 4px;
		}
	}
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 10px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* miscellaneous */

.debug_dump {
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}