@import "bootstrap";

$grayMediumLight: #eaeaea;
$earthy: #A19251;
$lightEarthy: #bfb380;
$blueish: #5160a1;
$redish: #a15160;
$gray: #bfbfbf;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* global */

html {
	overflow-y:	scroll;
}

/* navbar */

#logo {
	color: $earthy;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
	margin-right: 20px;
}

.nav_links {
	margin-top: 1px;
	font-size: 1.25em;
}

.profile_link {
	color: $earthy;
	line-height: 1.5em;
	font-size: 1.5em;
	letter-spacing: -.5px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: bold;
}

h1 {
	text-align: center;
	font-size: 3em;
	letter-spacing: -1px;
	margin-bottom: 15px;
}

p {
	font-size: 1.1em;
	line-height: 1.5em;
}

a {
	color: $blueish;
}

/* footer */
footer {
	margin-top: 15px;
	border-top: 1px solid $grayMediumLight;
	a {
	color: grey;
	float: left;
	}
	li a{
		color: $earthy;
	}
	ul {
  		float: right;
  		list-style: none;
  		li {
		  float: left;
		  margin-left: 10px;
		}
	}
}
	
/* sidebar */

.gravatar {
	float: left;
	margin-left: 7.5px;
	margin-right: 7.5px;
	border-style: solid;
	border-width: 3px;
}

aside {
	section {
		h1 {
			font-size: 2em;
			text-align: left;
			margin-top: 4px;
			margin-bottom: 4px;
			letter-spacing: .5px;
		}
		h2 {
			font-size: 1em;
			text-align: left;
			margin-top: 4px;
			margin-bottom: 4px;
		}
	}
}

.info_username {
	color: $redish;
	font-weight: bold;
	font-size: 2.2em;
	font-family: 'Roboto', sans-serif;
}

.profile_bar_margin {
	margin-left: 7.5px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 10px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* alerts */

.alert-danger {
	font-size: 1.2em
}

/* Users index */

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $earthy;
		&:last-child {
			border-bottom: 1px solid $earthy;
		}
	}
}

/* miscellaneous */

.debug_dump {
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* feed styling */

.timestamp {
 	height: 100%;
 	color: $lightEarthy;
 	font-weight: light;
 	line-height: .75em;
 	font-size: 1em;
 	text-align: left;
 }

.profile_question_feed {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1.5px solid $grayMediumLight;
}

.feed_username {
	color: $redish;
	font-weight: bold;
	font-size: 2em;
	line-height: 1.4em;
	font-family: 'Roboto', sans-serif;
}

.feed_content {
	font-size: 1.19em;
	font-weight: normal;
	text-align: left;
	line-height: .6em;
	word-wrap: break-word;
	overflow: visible;
}

.feed_header {
	color: $earthy;
	margin-bottom: 10px;
	border-bottom: 3px solid $blueish;
	font-family: 'Roboto', sans-serif;
	line-height: 2.1em;
}

.expanded_link {
	text-decoration: none;
	text-align: left;
	line-height: 1.1em;
	word-wrap: break-word;
	overflow: visible;
}